<robot name="mycar">

    <link name = "base_link">

        <visual>

            <geometry>
                <!-- <box size="0.3 0.2 0.1"/> -->
                <!-- <cylinder radius="0.1" length="2"/> -->
                <!-- <sphere radius="1"/> -->
                <mesh filename="package://urdf_rviz/meshes/autolabor_mini.stl"/>                
            </geometry>

            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
            
            <material name="color">
                <color rgba="1 1 1 1"/>
            </material>
            
        </visual>

    </link>

</robot>